{% extends "_base.html" %}

{% block topcontent %}
  <title> 鍋岡琢渡のページ </title>
  <link href = "{{url_for('static', filename= 'glike.css')}}" rel="stylesheet" type="text/css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% block bodycontent %}
  <h1>Welcome！</h1>
  <p class="abc">
  <span style="color: #ff0033">鍋岡琢渡</span>の部屋にようこそ！<br>

  {% if session.get('loginuser', None) != None %}
    {% print(session.get('loginuser', None)) %}さん、ようこそ！<br>
    ログインありがとうございます！
    <br>
  {% endif %}
  ここでは自分の興味があるものや趣味についての紹介をいたします。下記の写真から気になるものを選んでください！<br>
  (上記のメニューバーからも選択できますが...)
      <ul class = "menu">
          <li><a href="music"><img src="/static/VIOLIN.jpeg" alt="Violin"></a></li>
          <li><a href="food"><img src="/static/Maron.jpg" alt="chestnut"></a></li>
          <li><a href="train"><img src="/static/KEIHAN.jpeg" alt="Keihan"></a></li>
      </ul>
  </p>

  {% if session.get('loginuser', None) == None %}
  <h2>会員ログインページへ</h2>
  <form action="login" method="get">
    <input type='submit' name='login' value='ログインページ' />
  </form>
  {% else %}
  
  <h2>自己紹介</h2>
  ここで自己紹介させていただきます(会員限定)。
  <br>
  <br>
  <table class="introduction">
    <tr>
      <th>名前</th>
      <td>鍋岡琢渡</td>
    </tr>
    <tr>
      <th>所属</th>
      <td>京都大学工学部情報学科計算機科学コース3回生</td>
    </tr>
    <tr>
      <th>言語経験</th>
      <td>
        プログラミングは大学に入ってから始めました。<br><br>
        <table class="language">
          <tr>
            <th>Java</th>
            <td>初めて触れた言語。故に一番経験が長い言語。アルゴリズムなどの学習も初めはJavaで行っており、C++を触るまではJavaで頑張っていた
              (C++に触れるとJavaのコードの長さの面倒くささに気づく)。</td>
          </tr>
          <tr>
            <th>Python</th>
            <td>この"クラウド計算"、学科の実験(音声処理)など。<br>
            最近触れることが増えてきた。</td>
          </tr>
          <tr>
            <th>C++</th>
            <td>競プロのために少し。Atcoder茶で止まっており、最近はできていません。</td>
          </tr>
          <tr>
            <th>HTML, CSS</th>
            <td>この"クラウド計算"での授業と、<br>学科の実験(データベースを用いたWebページの開発)</td>
          </tr>
          <tr>
            <th>Javascript</th>
            <td>この"クラウド計算"での授業で初めて触りました。ほんの少しだけしかできないです。</td>
          </tr>
          <tr>
            <th>PHP</th>
            <td>学科の実験(データベースを用いたWebページの開発、データベースと繋げる際に使用)</td>
          </tr>
          <tr>
            <th>PostgreSQL</th>
            <td>学科の実験(データベース)</td>
          </tr>
          <tr>
            <th>Ocaml</th>
            <td>学科の実験(プログラミング言語系)、今後使う時があるのだろうか...</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <br>
  ログアウトは画面下部から！
  <br>
  <br>
  <br>
  <br>
  <br>
  {% endif %}
{% endblock %}